# ignore everything in this data dir
# the data required by the back-end are downloaded and generated 
# by the ./preprocess-data.sh script in the root directory of the project 
*

# keep only the following files
!README.md
!.gitignore