/* error messages */
.alert {
  width: 96%;
}

/**************************/
/* pop ups                */
/**************************/
table.marker-popup {
  border-spacing: 10px;
}

table.marker-popup td {
  padding-right: 5px;
}

.leaflet-popup {
  z-index: 999;
}

.good {
  color: #00cc00;
}

.poor {
  color: #ff0000;
}


/**************************/
/* select action buttons  */
/**************************/

/* make sure, that ther are displayed at the same vertical position
   as the text input field */
.inline-action-button-container {
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 15px;
}

.action-button-clicked, .action-button-clicked:focus {
  background-color: #337ab7;
  color: #fff;
}

.action-button-clicked:hover {
  background-color: #609dd2;
  color: #fff;
}


/**************************/
/* time input             */
/**************************/

.input-group .form-control {
	padding: 6px;
	width: 6ch !important; /* overwrite shinyTimes element in-line style */
}

.inline-time-input-container {
  display: inline-block;
  vertical-align: bottom;
}

.my-shiny-time-input input {
    text-align: right;
}

.inline-time-input-container input:invalid {
    border-color: red;
}

/**********************************/
/* earliest and latest time input */
/**********************************/
.well-optional {
    width: 96%;
    padding: 0;
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.well-optional .inline-time-input-container {
  vertical-align: bottom;
  margin-bottom: -7px;
  margin-left: 10px;
}


.inline-checkbox-container {
    min-width: 120px;
}

.inline-checkbox-container label {
    font-weight: 700;
}
